*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Aerial', sans-serif;
	/* font-family: 'Diphylleia', sans-serif; */
}

a{
	text-decoration: none;
}

nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px;
}

nav.sticky{
	background: #133337aa;
}

nav .navContent{
	height: 100%;
	max-width: 1440px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .navContent .logo a{
	font-family: 'Cinzel Decorative', sans-serif;
	font-size: 26px;
	font-weight: 500;
	color: #fff;
}

nav .navContent .navLinks{
	display: flex;
	align-items: center;
}

nav .navLinks li{
	list-style: none;
	margin: 0 8px;
}

nav .navLinks a{
	font-family: 'Diphylleia', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	/* background: greenyellow; */
	padding: 10px, 15px;
	transition: all 0.3s ease;
}

nav .navLinks a:hover{
	color: #979fa0;
}

#home{
	height: 72vh;
	width: 100%;
	/* background: url("./assets/img/Suilven-Readability-max.png"); */
	background: url("./assets/img/Suilven-Readability-min.png");
	background-size: cover;
	background-position: center;
}

.aboutSection{
	max-width: 1440px;
	margin: auto;
	text-align: justify;
	padding: 1.5rem 1.5rem 0rem 1.5rem;
	line-height: 1.5rem;
	/* display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em 8em 2em 8em;
	background: #cecece; */
	/* background: #333;
	color: #fff; */
}

.aboutSection h2{
	font-size: 2rem;
	color: #133337;
	margin-bottom: 30px;
}

.aboutSection p{
	max-width: 1000px;
	text-align: left;
}

.socialsSection {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 8em 2em 8em;
	background: #ffffff;
}

.svgWhite {
	height: 32px;
	width: 32px;
	filter: brightness(0) invert(0);
}

.socialsIcons {
	display: flex;
	gap: 32px;
}