body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #d5fc90;
	color: #ffffff;
	text-align: center;
	padding: 2em 0;
}

header > h1
{
	color: #16264a;
	text-shadow: 0 0 20px #16264a;
	/*animation: glow 1s ease-in-out infinite alternate;*/
}

header > p {
	color: #223b73;
	text-shadow: 0 0 2px #223b73;
	
}

footer > p {
	color: #223b73;
}

/*
@keyframes glow {
  from {
    text-shadow: 0 0 20px #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  
  to {
    text-shadow: 0 0 20px #fff;
  }
}
*/
section {
	max-width: 800px;
	margin: 2em auto;
	padding: 1em;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

h1, h2 {
	color: #333;
}

p {
	color: #555;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	max-width: 300px;
	margin: 1em;
	padding: 1em;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

footer {
	text-align: center;
	padding: 2em 0;
	background-color: #bedced;
	color: #fff;
}