:root {
    --header-bg-col: #133337;
    --header-bg-col-transparent: #133337aa;
    --nav-hov-col: #3a5f63;
    --bg-col: #fff;

    --text: #080809;
    --background: #f7f8fa;
    --primary: #748296;
    --secondary: #94b5e5;
    --accent: #4a8ce9;

}

* {
    margin: 0;
    /* background-color: var(--background); */
}

header {
    width: 100vw;
    height: 7vh;
    position: fixed;
    /* background-color: var(--header-bg-col); */

    /* align items in header to be vertically 
		 * centered */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* background: linear-gradient(180deg, rgba(19,51,55,1) 46%, rgba(0,212,255,0.014443277310924318) 100%); */
}

header > .header-title {
    align-self: center;
    text-align: center;
    font-size: 1.66rem;
    font-family: "Cinzel Decorative", sans-serif;
    color: #f0ffff;
}

nav {
    flex-grow: 0.2;
    /* take up extra space */

    /* nav contents are centered vertically and
		 * spread out across the header bar */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

nav > * {
    transition-duration: 0.5s;

    /* hack to make clickable area bigger and put
		 * text in center */
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Diphylleia', sans-serif;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/* witchcraft!!! */
nav > * > * {
    align-self: center;
}

nav > *:hover {
    background-color: var(--secondary);
}

body {
    min-height: 100vh;
}

#home {
	/* height: 72vh; */
    height: 33vh;
	max-width: 100%;
	background: url("./assets/img/Suilven-banner-small.png");
	background-size: cover;
	background-position: top;
}

#home.no-image {
    background: none;
    height: 7vh;
    background-color: var(--primary);
}

.experiences {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.experience {
	max-width: 450px;
	margin: 1em;
	padding: 1em;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	line-height: 1.5rem;
}

.experience h3 {
	text-align: center;
}

.experience h6 {
	font-size: 0.9rem;
	color: #568a8c;
	text-align: center;
	padding: 0.2em;
}

.socialsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 8em 2em 8em;
}

.svgWhite {
    height: 32px;
    width: 32px;
    filter: brightness(0) invert(0);
}

.socialsIcons {
    display: flex;
    gap: 32px;
}

footer {
    text-align: center;
    padding: 0em 1;
    width: 100vw;
    background-color: var(--primary);
    bottom: 0px;
    position: absolute;
    /* position: fixed; */
}

/* for mobile devices, move flex to be column and have
 * no limit on height */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: initial;
        /* background-color: var(--header-bg-col); */
        background-color: var(--primary);
        position: relative;
    }

    #home {
        background: none;
        height: 0.2vh;
    }

    nav {
        flex-direction: column;
    }
}

/* styling text */

.header-title a {
    color:#f0ffff
}

a {
    text-decoration: none;
    color: var(--text);

}

p, a {
    font-size: 1.33rem;
    font-family: 'Dosis';
    font-weight: 400;
}
  
h1, h2, h3, h4, h5, .header-title {
    font-weight: 400;
    font-family: 'Cinzel Decorative';
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}
