:root {
    --header-bg-col: #133337;
    --header-bg-col-transparent: #133337aa;
    --nav-hov-col: #3a5f63;
    --bg-col: #fff;

    --text: #080809;
    --background: #f7f8fa;
    --primary: #7c98b3ff;
    --secondary: #637081ff;
    --accent: #536b78;

    /* New Colour Trio */
    /* --celadon: #bbdb9bff;
    --celadon-2: #abc4a1ff;
    --ash-gray: #9db4abff;
    --cambridge-blue: #8d9d90ff;
    --reseda-green: #878e76ff; */

    /* Original Colour Trio */
    /* --primary: #748296;
    --secondary: #94b5e5;
    --accent: #4a8ce9; */

    /* Lighter Blues */
    /* --primary: #9db4c0ff;
    --secondary: #5c6b73ff;
    --accent: #253237ff; */
}

* {
    margin: 0;
    /* background-color: var(--background); */
}

header {
    width: 100vw;
    height: 7vh;
    position: fixed;
    /* background-color: var(--header-bg-col); */

    /* align items in header to be vertically 
		 * centered */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* background: linear-gradient(180deg, rgba(19,51,55,1) 46%, rgba(0,212,255,0.014443277310924318) 100%); */
    background: var(--primary);
    z-index: 100;
}

header > .header-title {
    align-self: center;
    text-align: center;
    font-size: 1.66rem;
    font-family: "Cinzel Decorative", sans-serif;
    color: #f0ffff;
}

nav {
    flex-grow: 0.2;
    /* take up extra space */

    /* nav contents are centered vertically and
		 * spread out across the header bar */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

nav > * {
    transition-duration: 0.5s;

    /* hack to make clickable area bigger and put
		 * text in center */
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-family: "Diphylleia", sans-serif;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/* witchcraft!!! */
nav > * > * {
    align-self: center;
}

nav > *:hover {
    background-color: var(--secondary);
}

header > nav > a > li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    /* padding-bottom: 100px; */
}

#home {
    /* height: 72vh; */
    height: 33vh;
    max-width: 100%;
    background: url("./assets/img/Suilven-banner-small.png");
    background-size: cover;
    background-position: top;
}

#home.no-image {
    background: none;
    height: 7vh;
    background-color: var(--primary);
}

/* .m_aboutSection {
    max-width: 1440px;
	margin: auto;
	text-align: justify;
	padding: 1.5rem 1.5rem 0rem 1.5rem;
	line-height: 1.5rem;
} */

.m_aboutSection {
    max-width: 1280px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 0.1);
    margin: 40px auto;
    color: #2c3e50;
    font-family: inherit;
    line-height: 1.6;
}

.m_aboutSection h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #34495e;
    border-bottom: 2px solid #547aa5;
    padding-bottom: 6px;
}

.m_aboutSection p {
    font-size: 1.15rem;
    margin-bottom: 20px;
    color: #4a5668;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience {
    max-width: 700px;
    margin: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5em;
    padding: 1em;
}

.grid-item {
    position: relative; /* Needed for absolute positioning of overlay */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; /* Ensure text is above the overlay */
}

.project {
    padding: 1em;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(83, 107, 120, 0.2);
    border-radius: 5px;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    background: url("./assets/img/Suilven-banner-small.png");
    background-size: cover;
}

section h4 {
    line-height: 1;
}

section h6 {
    font-size: 0.9rem;
    color: #568a8c;
    text-align: center;
    padding: 0.2em;
}

.socialsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 8em 0.8em 8em;
}

.svgWhite {
    height: 32px;
    width: 32px;
    filter: brightness(0) invert(0);
}

.svgWhiteSmall {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0);
}

.socialsIcons {
    display: flex;
    gap: 32px;
}

/* Add this style for the footer to initially be hidden */
/* footer {
    display: none;
} */

footer {
    text-align: center;
    padding: 0em 0;
    width: 100vw;
    background-color: var(--primary);
    bottom: 0px;
    position: fixed;
    display: block;
}

/* Add a class to make the footer visible */
.footer-visible {
    display: block;
    transform: translateY(0); /* Move footer back to its original position */
}

/* for mobile devices, move flex to be column and have
 * no limit on height */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: initial;
        /* background-color: var(--header-bg-col); */
        background-color: var(--primary);
        position: relative;
    }

    #home {
        background: none;
        height: 0.2vh;
    }

    nav {
        flex-direction: column;
    }
}

/* styling text */

.header-title a {
    color: #f0ffff;
}

a {
    text-decoration: none;
    color: var(--text);
}

p,
a {
    font-size: 1.33rem;
    font-family: "Dosis";
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.header-title {
    font-weight: 400;
    font-family: "Cinzel Decorative";
}

html {
    font-size: 100%;
} /* 16px */

h1 {
    font-size: 5.652rem; /* 90.4px */
}

h2 {
    font-size: 3.997rem; /* 64px */
}

h3 {
    font-size: 2.827rem; /* 45.28px */
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.999rem; /* 32px */
}

h5 {
    font-size: 1.414rem; /* 22.56px */
}

small {
    font-size: 0.707rem; /* 11.36px */
}

ul {
    font-size: 1.33rem;
    font-family: "Dosis";
    font-weight: 400;
}
