:root {
    --header-bg-col: #133337;
    --header-bg-col-transparent: #133337aa;
    --nav-hov-col: #3a5f63;
    --bg-col: #fff;

    --text: #080809;
    --background: #f7f8fa;
    --primary: #7c98b3ff;
    --secondary: #637081ff;
    --accent: #536b78;
}

.photography-home {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.page-title {
    margin: 30px 0;
    text-align: left;
}

.photo-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.photo-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;
    font-size: 1.6em;

    background-color: var(--primary);
    color: white;
    text-decoration: none;

    border: 1px solid #000;
    transition: background-color 0.2s ease;
}

.photo-nav-item:hover {
    background-color: var(--secondary);
}

figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.gallery-item {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    flex: 1 0 30%; /* 1 item per 30% of the row */
    max-width: 30%; /* Ensures 3 items per row */
    box-sizing: border-box;
}
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.location-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    transition: background 0.2s ease-in-out;
}
.gallery-item:hover .location-title {
    background: rgba(0, 0, 0, 0.8);
}

.photo-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6px;
}

.photo-column {
    flex: 32%;
    max-width: 33.33%;
    padding: 0 6px;
}

.photo-column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 100%;
    transition: transform 0.25s ease;
    transition-delay: 0.3s;
}

.photo-column img:hover {
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
}

.photo-column:nth-child(1) img:hover, .photo-column:nth-child(1) img:hover ~ img {
    transform-origin: left center;
}

.photo-column:nth-child(3) img:hover, .photo-column:nth-child(3) img:hover ~ img {
    transform-origin: right center;
}

.photo-title {
    text-align: center;
    font-size: 1.2em;
    margin-top: 12px;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .photo-column {
      -ms-flex: 48%;
      flex: 48%;
      max-width: 50%;
    }

    .gallery-item {
        flex: 1 0 45%; /* 2 items per row on medium screens */
        max-width: 45%;
    }

    .photo-column:nth-child(2n+1) img:hover, .photo-column:nth-child(2n+1) img:hover ~ img {
        transform-origin: left center;
    }

    .photo-column:nth-child(2n+2) img:hover, .photo-column:nth-child(2n+2) img:hover ~ img {
        transform-origin: right center;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .photo-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .gallery-item {
        flex: 1 0 100%; /* 1 item per row on small screens */
        max-width: 100%;
    }

    .photo-column img {
        transition: none;
    }

    .photo-column img:hover {
        transform: none;
    }
}